# Pandas practice 1  
## Dataframe Basic

In [3]:
import pandas as pd
import sqlite3

# 1. Creating，Reading，Writing Dataframe

### (1) using `pd.DataFrame({'col_name':[],..},index=['index_name',])` to create dataframe

In [8]:
fruit_sales = pd.DataFrame({'Apples':[35,41],'Bananas':[21,34]},index=['2017 Sales','2018 Sales'])
fruit_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

### (2) using `pd.Series([],index=[],name=)` to create series

In [9]:
ingredients = pd.Series(['4 cups', '1 cup', '2 large', '1 can'],index=['Flour','Milk','Eggs','Spam'],name='Dinner')
ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

# Reading and Storing files--csv/xls/xlsx

### (1) `read_csv` 用于从逗号分隔值（CSV）文件中读取数据。
语法示例：`pandas.read_csv(filepath_or_buffer, sep=',', header='infer',index_col=0 ...)`  
`filepath_or_buffer` 是 CSV 文件的路径或 URL。  
`sep` 参数表示分隔符，默认为逗号，但你可以指定不同的分隔符。  
`header` 参数表示是否使用第一行作为列名，通常设置为 'infer'，表示自动检测。  
`index_col=0` 表示设置index列不是默认的数值行标签(0,1,2,...)
其他参数允许你指定数据的编码、日期格式等。

### (2) `read_excel`  用于从 Excel 文件中读取数据的函数
`io`: Excel 文件的路径或 URL  
`sheet_name`: 要读取的工作表的名称或索引，默认为 0（第一个工作表）。  
`header`: 用作列名的行，默认为 0（第一行）。  
`names`: 可选，用于指定列名的列表，如果不指定将使用 Excel 文件中的列名。  
`index_col`: 可选，用于指定作为行标签的列，默认为 None。  
`usecols`: 可选，用于指定要读取的列的列表。

### (2) `.to_csv()`   `.to_excel()` 用于将dataframe文件存储与本地 作为csv或excel文件

#   读取数据库文件`read_sql_query`

In [31]:
#使用 sqlite3 库连接到你的 SQLite 文件：
conn = sqlite3.connect("E:/Programming/Dataset_prac/million_us_wildfires/FPA_FOD_20170508.sqlite")
# 编写 SQL 查询，以从数据库中检索数据。例如，如果你有一个名为 "my_table" 的表，你可以执行以下查询：
query = "SELECT * FROM my_table;"
# 如果你不确定数据库中有哪些表，你可以使用以下查询来列出所有表的名称：
query = "SELECT name FROM sqlite_master WHERE type='table';"
# 使用 Pandas 的 read_sql_query 函数执行查询并将结果读取到 DataFrame 中：
table_name = pd.read_sql_query(query, conn)
print('Names of all tables in the dataset\n',table_name.head(),'\n')

#选取某一个标存入dataframe
query='SELECT * FROM spatialite_history'
df1=pd.read_sql_query(query, conn)
print('spatialite_history:\n',df1.head())
conn.close()

Names of all tables in the dataset
                   name
0      spatial_ref_sys
1   spatialite_history
2      sqlite_sequence
3     geometry_columns
4  spatial_ref_sys_aux

spatialite_history:
    event_id        table_name geometry_column  \
0         1   spatial_ref_sys            None
1         2  geometry_columns            None
2         3  geometry_columns            None
3         4  geometry_columns            None
4         5  geometry_columns            None

                                               event  \
0                         table successfully created
1                         table successfully created
2  trigger 'geometry_columns_f_table_name_insert'...
3  trigger 'geometry_columns_f_table_name_update'...
4  trigger 'geometry_columns_f_geometry_column_in...

                  timestamp ver_sqlite ver_splite
0  2017-05-17T22:00:26.772Z      3.9.2  4.4.0-RC0
1  2017-05-17T22:00:26.796Z      3.9.2  4.4.0-RC0
2  2017-05-17T22:00:26.796Z      3.9.2  4.4.0-RC0
3  2017-05-17T22:00:26.796Z      3.9.2  4.4.0-RC0
4  2017-05-17T22:00:26.797Z      3.9.2  4.4.0-RC0

# 2. Dataframe Indexing，Selecting，Assigning

In [4]:
# Dataset: wine dataset with decription and region..
df=pd.read_csv("E:\Programming\Dataset_prac\winemag_data\winemag-data-130k-v2.csv")
df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

## 1. query and modify

In [86]:
print(df.country.head())
print(df['country'].head()) #same as df.country
print(df[['country','price']][2:5]) #df[col][row]

0       Italy
1    Portugal
2          US
3          US
4          US
Name: country, dtype: object
0       Italy
1    Portugal
2          US
3          US
4          US
Name: country, dtype: object
  country  price
2      US   14.0
3      US   13.0
4      US   65.0

## 2. `loc[]` and `iloc[]` 
     loc[行索引名称或条件，列索引名称]； iloc[行索引位置，列索引位置]
     注意：iloc只接受数字num作为index参数，若是需要输入列名，应该用loc[]

`iloc` uses the Python stdlib indexing scheme, where the first element of the range is included and the last one excluded. `loc`, meanwhile, indexes inclusively.

This is particularly confusing when the DataFrame index is a simple numerical list, e.g. 0,...,1000. In this case `df.iloc[0:1000]` will return 1000 entries, while `df.loc[0:1000]` return 1001 of them! To get 1000 elements using loc, you will need to go one lower and ask for df.iloc[0:999].

In [87]:
print(df.loc[0:3,['price','region_1']])

   price             region_1
0    NaN                 Etna
1   15.0                  NaN
2   14.0    Willamette Valley
3   13.0  Lake Michigan Shore

    条件切片 slicing

In [88]:
#select col_ country and winery, where country is Italy
df.loc[(df['country']=='Italy'),['country','winery']].head(3)

   country               winery
0    Italy              Nicosia
6    Italy      Terre di Giurfo
13   Italy  Masseria Setteporte

In [89]:
#select country is in Italy or France
df.loc[df.country.isin(['Italy','France'])].head(3)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
6,6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.0,Sicily & Sardinia,Vittoria,NaN,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo
7,7,France,This dry and restrained wine offers spice in p...,NaN,87,24.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Trimbach 2012 Gewurztraminer (Alsace),Gewürztraminer,Trimbach

## 3. `.set_index('')` set special column as the index col

In [90]:
df.set_index('title').head(2)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,variety,winery
title,,,,,,,,,,,,,
Nicosia 2013 Vulkà Bianco (Etna),0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,White Blend,Nicosia
Quinta dos Avidagos 2011 Avidagos Red (Douro),1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Portuguese Red,Quinta dos Avidagos

## 4. `.isnull()` and `notnull()`  
##     highlight values which are (or are not) empty (NaN).

In [91]:
df.loc[df.price.notnull()].head(3)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian


## 5. Add data using `.loc[]`

In [97]:
df['new_price']=df['price']*0.8
df[['price','new_price']].head(3)

   price  new_price
0    NaN        NaN
1   15.0       12.0
2   14.0       11.2

## 6. Delet data using `.drop(labels,axis=0/1)`  0:row, 1:col.



# 2. Summary Funtions and Maps

## 1. Summary function

<big>`.describe()` return the high-level summary of one or more columns.  
`.mean()` return the mean of a series of num  
`.unique()` to see a list of unique values 
`.value_counts()` return the counts of specified col</big>

In [6]:
df.price.describe()  #for numbs

count    120975.000000
mean         35.363389
std          41.022218
min           4.000000
25%          17.000000
50%          25.000000
75%          42.000000
max        3300.000000
Name: price, dtype: float64

In [5]:
df.country.describe()  #for strings

count     129908
unique        43
top           US
freq       54504
Name: country, dtype: object

In [7]:
df.points.mean()

88.44713820775404

In [12]:
df['country'].unique()[0:10]

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria'], dtype=object)

In [16]:
df.country.value_counts()[0:5]

US          54504
France      22093
Italy       19540
Spain        6645
Portugal     5691
Name: country, dtype: int64

  <big>`idxmax()` returns the index of max value in specified columns  </big>  
  try to find the most_bargain wine (using 'title')---> highest points-price ratio

In [46]:
bargain_idx=(df.points/df.price).idxmax()
bargain_wine=df.loc[bargain_idx,'title']
bargain_wine

'Bandit NV Merlot (California)'

## 2. Mapping

<big>`map(function, sequence)` can be a function or a method, the result is same.</big>

<big>`new_series=dataframe['col_name'].map(function)`  using `.map()` apply the function to the specified column and store it in the new_series
** THE funtion can be defined by `def` or using simple annonymous function:`lambda arg: expression`    

`.apply(function,axis=)`, axis='columns'表示按行使用function； axis=‘rows’表示按列使用function
  
Note that map() and apply() return new, transformed Series and DataFrames, respectively. They don't modify the original data they're called on. If we look at the first row of reviews, we can see that it still has its original points value.</big>

In [27]:
mean_price=df.price.mean() #35.36
df.price.map(lambda x:x-mean_price).head()  # 对price每行都计算该行`price - mean_price`

0          NaN
1   -20.363389
2   -21.363389
3   -22.363389
4    29.636611
Name: price, dtype: float64

In [36]:
def remean_price(row):
    row.price = row.price - mean_price
    return row
df.apply(remean_price, axis='columns')['price'].head() #返回一个新的dataframe，且其中points列被修改为减去mean_points后的值

0          NaN
1   -20.363389
2   -21.363389
3   -22.363389
4    29.636611
Name: price, dtype: float64

In [39]:
# a faster way to show the mean price for each row
mean_price=df.price.mean()
(df.price-mean_price)[0:5]

0          NaN
1   -20.363389
2   -21.363389
3   -22.363389
4    29.636611
Name: price, dtype: float64

In [42]:
# an easy way of combining two string columns
(df.country + ' : ' + df.region_1)[0:5]

0                Italy : Etna
1                         NaN
2      US : Willamette Valley
3    US : Lake Michigan Shore
4      US : Willamette Valley
dtype: object

<big>EX1:`.map()`</big>

Create a Series `descriptor_counts` counting how many times each of these two words appears in the `description` column in the dataset. (For simplicity, let's ignore the capitalized versions of these words.)  
 
 Hint: Use a map to check each description for the string tropical, then count up the number of times this is True. Repeat this for fruity. Finally, create a Series combining the two values.

In [55]:
tropical=df.description.map(lambda desc:'tropical' in desc)
fruity=df.description.map(lambda desc:'fruity' in desc)
print(tropical.head()) # a Bool sereies
print(tropical.sum()) # if true-->count+1

count_tropical=tropical.sum()
count_fruity=fruity.sum()

description_counts = pd.Series([count_tropical,count_fruity],index=['tropical','fruity'])
description_counts

0     True
1    False
2    False
3    False
4    False
Name: description, dtype: bool
3607

tropical    3607
fruity      9090
dtype: int64

<big>EX2:`.apply()`</big>

A score of 95 or higher counts as 3 stars, a score of at least 85 but less than 95 is 2 stars. Any other score is 1 star.

Also, the Canadian Vintners Association bought a lot of ads on the site, so any wines from Canada should automatically get 3 stars, regardless of points.

Create a series star_ratings with the number of stars corresponding to each review in the dataset.

In [82]:
def stars(row):
    if row.country == 'Canada':
        return 3
    elif row.points >= 95:
        return 3
    elif row.points >= 85:
        return 2
    else:
        return 1

star_ratings = df.apply(stars, axis='columns')
star_ratings

0         2
1         2
2         2
3         2
4         2
         ..
129966    2
129967    2
129968    2
129969    2
129970    2
Length: 129971, dtype: int64